html,
body {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  width: 100%;
  overflow-x: hidden;
}

/* Navigation bar */
.navbar-brand {
  color: #4da309 !important;
}

/* Header */
.homepage-banner {
  /*  Credits: Pixabay user Kallipygos
    https://pixabay.com/nl/users/kallipygos-658558/
    https://pixabay.com/nl/photos/huis-stenen-huis-villa-architectuur-1017478/ */
  background-image: url(../../assets/images/house-1017478_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 73vh;
}

.banner-content {
  position: relative;
  top: 15%;
}

/* USP section */
.usp-icon {
  color: #4da309;
  font-size: 1rem;
}

.usp-text {
  padding-left: 15px;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  color: #777;
}

/* Image carousel section */
.owl-theme .owl-nav [class*="svg-inline-"] {
  color: #ffc107;
  font-size: 30px;
  background: none;
  margin: 0 15px;
}

.owl-theme .owl-nav [class*="svg-inline-"]:hover {
  background: none;
  color: #ffc107;
}

.card-title-carousel {
  font-size: 13px;
  font-weight: 500;
}

.card-text-carousel {
  font-size: 12px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
}
